/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

.content {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.content nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* "display: inline" = Deixa a lista horizontal */
.content nav ul li {
    list-style-type: none;
    display: inline;
}

/* Define estilo do a */
.content nav ul li a {
    display: inline-block;
    width: 6.5rem;
    padding: 0.55rem 2rem;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
}

.content nav ul li a:hover {
    background-color: darkslateblue;
}