.content {
    width: 100%;
    height: 15rem;
    background-color: rgb(164, 255, 16);
}

.content #janela {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background: linear-gradient(to top, red, green);
}