/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

.content {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* Retirando espacamento e tamanho do ul */
.content nav ul {
    width: 12rem;
    margin: 0;
    padding: 0;
}

/* Retirando pontos do li */
.content nav ul li {
    list-style: none;
}

/* Definindo propriedades do a */
.content nav ul li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    background-color: cadetblue;
    padding: 0.3rem;
    margin-bottom: 1px;
}

.content nav ul li a:hover {
    background-color: chartreuse;
}