/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

body 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* Retirando espacamento e tamanho do ul */
nav ul 
{
    width: 200px;
    margin: 0;
    padding: 0;
}

/* Retirando pontos do li */
nav ul li 
{
    list-style: none;
}

/* Definindo propriedades do a */
nav ul li a 
{
    display: block;
    text-decoration: none;
    color: #FFF;
    background-color: cadetblue;
    padding: 5px;
    margin-bottom: 1px;
}

nav ul li a:hover 
{
    background-color: chartreuse;
}