/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

.content,
.content h2,
.content h3,
.content h4,
p {
    margin: 0;
    padding: 0;
}

.content {
    background: rgb(229, 229, 229);
}

article,
aside,
section,
header,
footer,
nav {
    display: block;
}

.content {
    width: 55%;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0 0 10px #666;
}

.content header {
    padding: 1.5rem;
    background-color: rgb(255, 204, 51);
    text-align: center;
    margin-bottom: 20px;
}

.content header h2 {
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}

.content {
    clear: both;
}

.content h2,
.content h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(255, 102, 51);
    margin: 0;
    line-height: 1.5;
}

.content h2 {
    font-size: 3em;
}

.content h3 {
    font-size: 2em;
}

.content h4 {
    font-size: 1.5em
}

.content p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(102, 102, 102);
    line-height: 1.5;
    margin-bottom: 20px;
}

/* "overflow: hidden" = Para "abracar" todo elemento */
.content section.texto-apresentacao {
    overflow: hidden;
}

/* Deixando a imagem a esquerda e com margens */
.content section.texto-apresentacao img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Para a "section" nao ter elementos a esquerda / direita "*/
.content section.texto-medio {
    clear: both;
}

/* Modificando a "primeira letra" de cada "paragrafo" */
.content section.texto-medio p:first-of-type:first-letter {
    font-size: 4em;
    line-height: 0.8;
    margin: 0 5px 0 0;
    float: left;
    font-family: Georgia, "Times New Roman", serif;
}