/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

.content {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    width: 12rem;
    padding: 0.3rem;
    background-color: #ddd;
    margin-bottom: 1px;
}

/* "li:nth-child(3n)" = Nesse caso aplicando a cada 3 elementos */
li:nth-child(3n) {
    background-color: #ccc;
    font-weight: bold;
}