.x-bg-image {
    /* background-image : define uma imagem de fundo pela "url" 
     * background-repeat: define se a imagem ira repetir ou nao
     * background-attachment: define se a imagem vai "seguir" o scroll */
    background-image: url('../../imagens/x_face.png');
    background-repeat: repeat;
    width: 100%;
}

.zero-bg-image {
    background-image: url('../../imagens/zero_face.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    width: 10rem;
    height: 10rem;
}