/* 
    Created on : 25/03/2019, 11:30:10
    Author     : William
*/

.content {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Estilo da lista nao ordenada */
ul {
    /* Tira o bullet e deixa um tamanho definido */
    margin: 0px;
    padding: 0px;
    width: 200px;
}

/* Estilo dos itens */
li {
    /* Tira o bullet no caso do IE */
    list-style: none;
}

/* Estilo dos links dos itens */
li a {
    display: block;
    text-decoration: none;
    background-color: blue;
    margin-bottom: 1px;
    padding: 5px 3px;
    color: white;
}

/* Estilo dos links dos itens no evento do hover */
li a:hover {
    background-color: dodgerblue;
}