.content {
    width: 100%;
    height: 15rem;
    background-color: rgb(164, 255, 16);
}

#janela {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    background: radial-gradient(deepskyblue, blue);
}