/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

.content {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.content .menu {
    width: 50%;
    margin: 0 auto;
}

.content .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content .menu ul li {
    float: left;
    position: relative;
}

/* Menu horizontal principal */
.content .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 0.3rem 1rem;
    border: 1px solid darkgray;
    width: 6rem;
    font-weight: bold;
}

/* Submenu */
.content .menu ul li ul {
    display: none;
    position: absolute;
    padding-top: 5px;
}

/* Itens do submenu */
.content .menu ul li ul li a {
    width: 6rem;
    margin-top: -1px;
    font-weight: lighter;
}

.content .menu ul li ul li a:hover {
    background-color: #ddd;
    font-weight: bold;
}

/* PULO DO GATO!!  Faz aparecer o menu */
.content .menu li:hover ul {
    display: block;
}

/* Alterar a cor de background dos itens do menu */
.content .menu ul li a:hover {
    background-color: #ddd;
}

.clear-section {
    margin-top: 1rem;
    clear: both;
}