
/* Utilizando para todos a mesma font-family */
body { font-family: Roboto, sans-serif; }

/* (unidade absoluta) vs (unidade relativa) 
 *
 * Unidade absoluta e quando uso um valor absoluto para 
 * um atributo, sendo que esse tamanho sera o mesmo em qualquer dispositivo 
 * Exemplo: font-size: 12px;
 *
 * Unidade relativa e quando uso um valor que ira ser adaptavel dependendo
 * do dispositivo.
 * Exemplo: font-size: 2em;
*/
h1 
{
    font-size: 2em;                 /* Tamanho da fonte */
    text-decoration: underline;     /* Decoracao sobre o texto */
    text-transform: capitalize;     /* Transformacao do texto */
}

h4 
{
    font-size: 1.5em;
    text-decoration: line-through;
}

p 
{
    font-size: 100%;
    text-align: justify;    /* Alinhamento do texto */
    line-height: 1.5;       /* Tamanho da linha, espacamento entre elas */
    text-indent: 2em;       /* Identacao do texto, espaco do paragrafo */
}

.italico 
{
    font-style: italic;     /* Estilo da fonte */
}

.destaqueNegrito 
{
    font-weight: 500;       /* Tamanho da fonte, como negrito etc... */
}