/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

body 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* "ul" = Indica lista nao-ordenada 
 * "ol" = Indica lista ordenada */
ul, ol
{
    margin: 0;
    padding: 0;
}

/* "li" = Indica item da lista 
   "list-style-type" = Indica tipo de estilo da lista */
li 
{
    background-color: aliceblue;
    list-style-type: none;
}