/* 
    Created on : 31/03/2019, 18:41:59
    Author     : William
*/

html, body 
{
    margin:0;
    padding:0;
}

html 
{
    background:rgb(229,229,229);
}

article, aside, section, header, footer, nav 
{
    display:block;
}

main
{
    width:600px;
    background-color:rgb(255,255,255);
    margin:2em auto 2em;
}

div 
{
    margin-bottom:1em;
    width:200px;
    height:100px;
}

.janela1
{
    /* Floats mais utilizados: "float: left", "float: right" */
    background-color:rgb(0,153,204);	
    float: left;
}

.janela2 
{
    /* Floats mais utilizados: "float: left", "float: right" */
    background-color:rgb(255,204,51);
    float: left;
}

.janela3
{
    /* Floats mais utilizados: "float: left", "float: right" */
    background-color:rgb(153,204,51);
    float: left;
}